@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;900&display=swap');
:root {
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    background-repeat: no-repeat;
    text-align: center;
}

.input {
    display: block;
    margin: 0 auto 1em auto;
    width: 30%;
    height: 2.5em;
    border-radius: 1em;
    border: none
}

#name-label,
#email-label,
#number-label,
#education {
    font-family: 'Roboto Slab', serif;
    display: block;
    padding: 0.5em;
    font-size: 1.25rem;
    text-transform: uppercase;
}

#submit {
    margin-top: 1.5em;
    margin-bottom: 1em;
    width: 12em;
    height: 2em;
    border: none;
    border-radius: 1em;
    text-transform: uppercase;
    font-size: 1.25rem;
    transition: ease 0.4s 0s;
}

#submit:hover {
    background-color: #20DFB3;
}

#title {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    text-transform: uppercase;
}

textarea {
    resize: none;
    min-height: 8em;
}

p {
    font-family: 'Roboto Slab', serif;
    display: block;
    margin-top: 3em;
    font-size: 1.25rem;
    text-transform: uppercase;
}

span {
    margin-left: 2em
}

.gender {
    margin-right: 2em;
}

.option {
    font-family: 'Roboto Slab', serif;
    margin-top: 2em;
    font-size: 0.9rem;
    margin-left: 0;
}

textarea::placeholder {
    font-family: 'Roboto Slab', serif;
    font-size: 1rem
}

@media (max-width: 880px) {
    span {
        display: block;
    }
    .gender, .activity {
        margin: 0;
    }

    .input {
        width: 70%;
    } 

}

#description {
    margin: 1em 0 2em 0
}